<!DOCTYPE HTML>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Издательство - Попурри</title>
    <link rel="stylesheet" href="/static/book_style.css">
</head>

<head th:insert="blocks\head :: head"></head>

<body class="d-flex flex-column h-100" style="">

<header th:insert="blocks\header :: header" class="sticky-top" role="navigation"></header>

<hr class="clear">

<main class="container-lg flex-shrink-0 bg-warning">
    <div class="row">
        <div class="col-lg-12 my-3">
            <h1>Попурри</h1>
        </div>
        <div class="col-lg-4 mb-3">
            <img class="poster-book" src="/img/popurri.jpg">
        </div>
        <div class="col-lg-8">
            <div>
                <div><b>Дата основания: </b><span>1992</span></div>
                <div><b>Область издательских интересов: </b><span>культура, наука, образование</span>
                </div>
                <div><b>Типы выпускаемых изданий: </b>
                    <p>научно-популярные;</p>
                    <p>научные;</p>
                    <p>учебные;</p>
                    <p>производственно-практические;</p>
                    <p>справочные, рекламные.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-12 mt-3">
            <h4>Описание</h4>
            <p class="description text-break">
                Сотрудничает с известными зарубежными издательствами — Simon & Schuster, Random House, Penguin Books,
                Harper Collins и т. п. Книги издательства «Попурри» печатаются на качественной бумаге, красиво
                оформляются и стоят относительно дешево.
                Особой популярностью у белорусских читателей пользуется серия «Мая беларуская кніга», в которой выходят
                классические литературные произведения на родном языке.
                Еще одна известная серия — «Успех!». В ней издаются книги по психологии и личностному росту.
                Также в «Попурри» выходит литература по творчеству, различным хобби, кулинарии и оздоровлению.
                Кроме книг издательство выпускает блокноты и записные книжки с дизайнерскими обложками.
            </p>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-lg-3" th:each="book : ${books}">
            <div class="card mb-4 rounded-3 shadow-sm">
                <a class="book" th:href="'/book/' + ${book.id} + '/'">
                    <img class="book-photo mb-3" th:attr="src=${'/img/' + book.poster}">
                    <h4 th:text="${book.name}" class="card-title pricing-card-title mx-3 text-break">Название</h4>
                </a>
                <ul class="list-unstyled mt-3 mb-3 mx-3">
                    <li>Жанр: <a th:text="${book.genre}" th:href="'/catalog/genre/' + ${book.genre}"></a></li>
                    <li>Дата: <a th:text="${book.year}" th:href="'/catalog/year/' + ${book.year}"></a></li>
                    <li th:if="${book.price}">Цена: <span th:text="${book.price}"></span> $</li>
                    <li th:unless="${book.price}">Бесплатно</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="pt-5"></div>
</main>

<script type="text/javascript" src="/static/book_script.js"></script>

<hr class="clear">

<footer th:insert="blocks/footer :: footer" class="footer mt-auto py-1 "></footer>

</body>

</html>
